body{
	/*background-color: green;*/
	background-image: url(../images/1.jpg);
}

nav{
	margin: 0 10%;
}

.menu li{
	list-style: none;
	color: #000;
	display: inline;
	background:#fff ;
	margin: 0 20px;
	border-radius: 5px ;
	padding: 5px 5px 5px 5px;
}

#encabezado{
	text-align: center;
	color: #fff ;
	border-redius: 10px;
	width: 80%;
	margin: 10px 10px;
	padding 10px 10px 10px 10px;
	background-color: #82E0AA ;
	background-image: url(../images/2.jpg) ;
}

#piepagina{
	color:#fff;
	text-align: center;
	border-radius: 10px;
	width: 80%;
	margin: 30% 10% 10px;
	height: 150px;
	background-color: #5B2C6F ;
	clear: both;
}

#seccion1{
	float: left;
	width: 38%;
	height: 350px;
	margin: 0 0 0 10%;
	background-color: #F7DC6F;
	padding: 10px;

}

#seccion2{
	float: right;
	width: 38%;
	height: 350px;
	margin: 0 10% 0 0;
	background-color: #2874A6 ;
	padding: 10px;

}
